body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center; 
  align-items: center;     
  background-color: #000000;
  color: #A1766C;          
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 64px;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

#timer {
  display: flex;
  gap: 20px; /* razmak između blokova */
}

.time-block {
  background-color: #1a1a1a;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(161, 118, 108, 0.5);
}

.time-block span {
  font-size: 60px;
  font-weight: bold;
  display: block;
  color: #A1766C;
}

.time-block p {
  margin: 5px 0 0 0;
  font-size: 18px;
  color: #A1766C;
  text-transform: uppercase;
  letter-spacing: 1px;
}
